<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <script src="node_modules/angular/angular.min.js"></script>
</head>

<body ng-controller="CalcCtrl as ctrl">
    <h1>Calculadora de Tasas</h1>
    <form>
        <div>
            <label>Ingrese la Tasa Nominal Anual (TNA):</label>
            <input ng-model="ctrl.tna">
            <label>Ingrese la Periodo:</label>
            <input ng-model="ctrl.periodo">
            <button ng-click="ctrl.calcularTEA()">Convertir</button>
        </div>
        <div>
            <label>TEA</label>
            <span>{{ ctrl.tea | number:2}}</span>
        </div>
    </form>


    <!--Controllers-->
    <script src="js/app.js"></script>
    <!--Dominios-->
    <script src="js/domain/CalcTasa.js"></script>
</body>

</html>